
@{
    ViewBag.Title = "Inicio";
}

<div class="container">

<iframe style="margin-top:50px; margin-left:50px"width="650" height="450" src="https://www.youtube.com/embed/4z2KckXVYDY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<img src="https://media.tenor.com/images/5a1b1477be074feb18ffb89da0a7f9ed/tenor.gif" style="margin-left: 20px; margin-top: -34%"/>
<div class="row" style="margin-bottom:1%">
    <div class="col-md-12">
        <button class="btn btn-success" onclick="document.location.href='@Url.Action("Login", "Access")'">Iniciar sesion</button>
    </div>
    
</div>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success" onclick="document.location.href='@Url.Action("Usuarios", "Usuarios")'">Registrarse</button>
    </div>
</div>
    </div>
