@model List<PrimerCrud.Models.Usuario>
@{
    ViewBag.Title = "MostrarUsuarios";
}

        
        <div class="container" style="margin-top:7%; background: rgba(255,255,255,0.8); border-radius:10px">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>
                            Usuario
                        </td>
                        <td>
                            Contraseña
                        </td>
                        <td>
                            Tipo de usuario
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            <label>@item.User </label>
                        </td>
                        <td>
                            <label>@item.Contraseña</label>
                        </td>
                        <td>
                            <label>@item.UserType</label>
                        </td>
                        <td>
                            <button class="btn btn-default">Modificar</button>
                        </td>
                        <td>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>