@model PrimerCrud.Models.Persona
@{
    ViewBag.Title = "Verificar persona";
}

<body class="PEPE">
    <h3>Verificar persona</h3>

    @using (Html.BeginForm("Usuarios", "Usuarios", FormMethod.Post, new { role = "form", @class = "" }))
    {
        @Html.LabelFor(d => d.Nombre)
        <br />
        @Html.TextBoxFor(d => d.Nombre, new { @class = "textbox", @required = "required", oninvalid =  "test(this.id)"})
        <br />

        @Html.LabelFor(d => d.Apellido)
        <br />
        @Html.TextBoxFor(d => d.Apellido, new { @class = "textbox", @required = "required", oninvalid = "test(this.id)" })

        <br />
        <button type="submit" class="btn btn-success" style="margin-top:10px;">Añadir</button>
    }
</body>

@*Html.TextBoxFor(d => d.Email, new { @class = "form-control olo", @required = "required", oninvalid = "test(this.id);", onblur = "test2(this.id);" })*@

<script>
    function test(id)
    {
        $('#' + id).css("border-color","red");
    };

    function test2(id)
    {
        valor = $('#' + id).val();
        if (valor != null || valor != "")
        {
            $('#' + id).css("border-color","grey");
        }
    }
</script>