.PEPE {
    background: url('../Cliente/backgroundfoto.jpg');
}
.textbox {
    background: rgba(255,255,255,0.5);
}

.miperfil{
    font-family:Consolas;
    margin:0;
    padding:0;
    box-sizing:border-box;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 40px 0;
    flex-wrap: wrap;
}
.miperfil body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background: #111
}

.miperfil .box{
    position:relative;
    width:320px;
    height:400px;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px 30px;
    transition: 0.5s;
}

.miperfil .box::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1f5, #15f)
}
.miperfil .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1f5, #15f);
    filter: blur(5px)
}

.miperfil .box span{
    position:absolute;
    top:6px;
    left:6px;
    right:6px;
    bottom:6px;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.miperfil .box .contenido{
    position:relative;
    z-index:10;
    padding:20px 40px
}

.miperfil .box .contenido h3{
    margin-top: -77px;
    margin-bottom: 60px;
}

.miperfil .box .contenido .contra{
    margin-top: 30px
}

.miperfil .box .pepee{
    display:inline-block;
    padding: 10px;

}

.barra {
    transition:0.3s;
}

.barra:hover {
    background-color:lawngreen;
    border-radius: 10px;
    color:black;
}

.barraa {
    transition: 0.3s;
}

.barraa:hover {
    background-color: red;
    border-radius: 10px;
    color: black;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #bbb;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 15px;
}
input[type=text]:focus {
  border: 3px solid #1f1;
}
input[type="button"] {
    outline: none !important;
    box-shadow: none !important;
} 
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #bbb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 17px;
}
input[type=password]:focus {
    border: 3px solid #1f1;
}